<div ng-controller="homeController">
    <div class="admin-form">
        <div class="container">
            <div class="row">
                <!-- Widget Starts -->
                <div class="widget worange">
                    <div class="widget-head">
                        <i class="fa fa-cogs"></i> Accounts:
                    </div>
                    <div class="widget-content">
                        <div class="padd">
                            <div ng-show="newAccShow">
                                <form name="rf" class="form-horizontal" ng-submit="subAccount()">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Account Name:</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" ng-model="newacct.Name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Initial Balance:</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" ng-model="newacct.Balance">
                                        </div>
                                    </div>
                                    <div class="btn-group pull-right">
                                        <button type="submit" class="btn btn-info">Create</button>
                                        <button type="reset" class="btn btn-default" ng-click="newAccShow = !newAccShow">Cancel</button>
                                    </div>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                            <div ng-show="!newAccShow">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width:40%">Account:</th>
                                            <th style="width:30%">Balance:</th>
                                            <th style="width:30%">Reconciled:</th>
                                        </tr>
                                    </thead>
                                    <tr ng-repeat="m in houseaccts">
                                        <!--<td><a><i class="fa fa-trash"></i></a> {{m.name}}</td>-->
                                        <td><button class="btn btn-info btn-xs" style="width:150px" ui-sref="accountDash({accountId: {{m.id}} })">{{m.name}}</button></td>
                                        <td>{{m.balance | currency}}</td>
                                        <!--<td style="text-align:center"><input type="checkbox" ng-model="m.reconciledBalance" disabled /></td>-->
                                        <td>{{m.reconciledBalance | currency }}</td>
                                    </tr>
                                </table>
                                <div class="btn-group pull-right">
                                    <button class="btn btn-info" ng-click="newAccShow = !newAccShow">New Account</button>
                                    <button type="button" class="btn btn-default" ui-sref="home.dashboard">Return</button>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="widget-foot">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

