<div class="widget-head">
    <div class="pull-left">Recent Transactions</div>
    <div class="widget-icons pull-right">
        <a href="" ng-click="transIsCol = !transIsCol"><i class="fa fa-chevron-up"></i></a>
    </div>
    <div class="clearfix"></div>
</div>
<div collapse="transIsCol">
    <div class="ui-widget-content" >
        <hr />
        <div ng-repeat="t in recentrans">
            <div style="padding-left:1em">
                {{t.date}} - {{t.user}} - {{t.amount| currency}} from {{t.account}}<br />
                {{t.category}} - {{t.description}}
            </div>
            <hr />
        </div>

    </div>
</div>
<div class="widget-foot">

    <div class="clearfix"></div>
</div>