<div ng-controller="budgetController">
    <div class="row">
        <h3>Income:</h3>
        <div class="widget">
            <div class="ui-widget-content">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Category</th>
                            <th>Description</th>
                            <th>Monthly Amount</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="items in IncomeItems()">
                        <td>
                            <button class="btn btn-xs " ng-click="deleteItem(items.id)" title="permanently remove budget item"><i class="fa fa-trash"></i></button>
                        </td>
                        <td>{{items.category}}</td>
                        <td>{{items.description}}</td>
                        <td>{{items.monthly|currency}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <br />
    </div>
    <div class="row">
        <h3>Expenses:</h3>
        <div class="widget" >
            <div class="ui-widget-content">
                <div style="max-height:400px; overflow:auto">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Category</th>
                                <th>Description</th>
                                <th>Monthly Amount</th>
                            </tr>
                        </thead>
                        <tr ng-repeat="items in ExpenseItems()">
                            <td>
                                <button class="btn btn-xs " ng-click="deleteItem(items.id)" title="permanently remove budget item"><i class="fa fa-trash"></i></button>
                            </td>
                            <td>{{items.category}}</td>
                            <td>{{items.description}}</td>
                            <td>{{items.monthly|currency}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--amount: 250category: "Bills"categoryId: 2description: "Utilities"expense: truehouseholdId: 1id: 3monthly: 250period: 12-->