<div class="widget">
    <div class="widget-head">
        Account Transactions:
    </div>
    <div class="widget-content">
        <table class="table">
            <thead>
                <tr>
                    <th>Edit</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Reconciled</th>
                </tr>
            </thead>
            <tr ng-repeat="t in acctTransactions()">
                <td><button title="Edit Transaction" class="btn btn-sm" ui-sref="{{t.id}}"><i>E</i></button></td>
                <td>{{t.transDate}}</td>
                <td>{{t.signedAmount|currency}}</td>
                <td>{{t.category}}</td>
                <td>{{t.description}}</td>
                <td><input type="checkbox" ng-model="t.reconciled"/></td>
            </tr>
        </table>
    </div>
</div>
