<div ng-controller="householdController">
    <form name="h" class="form-horizontal" ng-submit="createHousehold({Name: newHousehold})">
        <div class="admin-form">
            <div class="container">
                <div class="row">
                    <div class="widget">
                        <div class="widget-head">
                            <i class="fa fa-cogs"></i> Create a new Household
                        </div>
                        <div class="widget-content">
                            <div class="padd">
                                <!-- Create New Household -->
                                <div class="row padd">
                                    <p>Words to explain households. [{{invited().length > 0}}]</p>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">House Name:</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" ng-model="newHousehold">
                                    </div>
                                </div>
                                <div class="btn-group">
                                    <button class="btn btn-info" ng-submit title="Submit to create and join a new household.">Submit</button>
                                    <button class="btn btn-default" ng-show="invited().length > 0">Invitation</button>
                                    <button type="button" class="btn btn-default" ui-sref="home.dashboard">Return</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>